# Виртуальное окружение
.venv/

# Конфигурации IDE
.idea/

# Кэшированные файлы
__pycache__/

# Учебные файлы
Ch8/

# Скомпилированные файлы Python
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Другие временные файлы
workspace.xml

#Тестовые файлы
src/test.py

Christ0$ Setup.iss